# Directorios excluidos de subir a repositorio local y remoto
backend/Venv/
frontend/Venv/
#backend/usuarios/__pycache__/
__pycache__/

# Extensiones excluídas
*.pyc


/backend/auth/__pycache__
/backend/usuarios/__pycache__
*.pyc
