* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.form {
  margin-top: 60px;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.form__title {
  height: 14rem;
  line-height: 14rem;
  text-align: center;
  font-size: 54px;

}
.form__buttonsgroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2rem 0px;
}
.form__button {
  margin-right: 20px;/*
  padding-left: 50px;
  padding-right: 50px;*/
  width: 200px;
  height: 45px;
}
.form__button:last-child{
  margin-right: 0px;
}

.form-floating .form-select {
  margin-bottom: 1rem;
}